


  <nav><ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Quiénes somos</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contacto</a></li>
    </ul></nav>

*{margin:0;padding:0;box-sizing:border-box;font-size:0;}
            
nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
    } 
    nav li{
    display:inline-block;
    width:10%;
    padding:50px;
    background-color:#000;
    border:1px solid #000;
    text-align: center;
    color:#fff;
    }
    nav li:hover{
    background-color:#fff;
    color:#000;
    }

nav li{
       float:left;
       width:10%;
       padding:10px 98px;
       background-color:#000;
       border:3px solid #000;
       text-align: center;
       color:#fff;
       }


*{
margin: 0;
padding: 0;

}

body{
 font-family: "Raleway" , sans-serif;
}


/*Estilos de pie de pagina*/

footer{
     font-family: "Arial";
     font size: 15px
     position: relative;
     margin-top: -10px;
     width:  100%;
     padding: 15px;
     clear: both;
    background: #000;
    text-align: center;
    color: #fff;

 }